<div class="exchanger">
  <h1 class="exchanger__title">{{ title }}</h1>
  <div class="exchanger__selectForm">
    <mat-form-field appearance="fill">
      <mat-label>Select a currency</mat-label>
      <mat-select [(value)]="from">
        <mat-option
          *ngFor="let currency of currenciesList"
          [value]="currency"
        >
          {{ currency }}
        </mat-option>
      </mat-select>
      <mat-hint>From</mat-hint>
    </mat-form-field>

    <div class="exchanger__inputForm">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Amount</mat-label>
        <input
          #currentAmount1
          matInput
          type="number"
          placeholder="0"
          min="1"
        >
      </mat-form-field>

      <button
        class="exchanger__button"
        mat-fab color="primary"
        (click)="setAmount(1, currentAmount1.value)"
      >
        Submit
      </button>
    </div>
  </div>

  <div class="exchanger__selectForm">
    <mat-form-field appearance="fill">
      <mat-label>Select a currency</mat-label>
      <mat-select [(value)]="to">
        <mat-option
          *ngFor="let currency of currenciesList"
          [value]="currency"
        >
          {{ currency }}
        </mat-option>
      </mat-select>
      <mat-hint>To</mat-hint>
    </mat-form-field>

    <div class="exchanger__inputForm">
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Amount</mat-label>
        <input
          #currentAmount2
          matInput
          type="number"
          placeholder="0"
          min="1"
        >
      </mat-form-field>

      <button
        class="exchanger__button"
        mat-fab color="primary"
        (click)="setAmount(2, currentAmount2.value)"
      >
        Submit
      </button>
    </div>
  </div>

  <app-currenciesInfo
    *ngIf="from && to && (amountField1 || amountField2)"
    [from]="from"
    [to]="to"
    [amountField1]="amountField1"
    [field1]="currentAmount1"
    [amountField2]="amountField2"
    [field2]="currentAmount2"
    (setAmount)="setAmount($event)"
  ></app-currenciesInfo>
</div>

